/**
Home
****/
span {
    color: #269e82;
}

h1 {
    font-size: 30px;
}

@media screen and (max-width: 500px) {
    p {
        font-size:12px;
    }
}

.size {
    margin: 100px 20% 200px 15%;
}

@media screen and (max-width: 1000px) {
    .size {
        margin: 100px 10% 200px 10%;
    }
}

@media screen and (max-width: 800px) {
    .size {
        margin: 100px 1% 200px 1%;
    }
}

.home {
    overflow: hidden;
}

.home .header {
    margin: 50px 15%;
}

@media screen and (max-width: 1000px) {
    .home .header {
        margin: 50px 10%;
    }
}

@media screen and (max-width: 800px) {
    .home .header {
        margin: 50px 0 ;
    }
}

.home .header a {
    color: #000000;
}

.home .header a:hover {
    text-decoration: underline #269e82;
}

.home .main {
    position: relative;
    width: 100vw;
    height: 60vh;
    overflow: hidden;
}

.home .main img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}

.footer {
    background-color: #000000;
    display: flex;
    height: 100px;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
}

.footer p {
    color: #ffffff;
    margin: 0 0 0 15%;
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
    .footer p {
        margin: 0 0 0 10%;
    }
}

@media screen and (max-width: 800px) {
    .footer p {
        margin: 0 0 0 2%;
        position: absolute;
        bottom: 1%;
    }
}

label{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.button{
    margin: 70px 0 200px;
}

.textarea{
    height: 300px;
}

/**
signin
****/
.signin{background-color: #123;}
.signin .form-signin{
    width: 100%;
    max-width: 330px;
    margin: 100px auto;
}
.signin .form-signin h1{color: #ffffff;margin-bottom: 50px;}
.signin .form-signin input{background-color: #123;color: #ffffff;}
.signin .form-signin button{
    background-color: #48b39d;
    width: 100%;
    color: #ffffff;
    margin-top: 20px;
}

/**
news
****/
.form-news .articles-box {
    border-top: 1px solid #ddd;
    padding: 0;
}

.form-news .articles-box .article-box {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    position: relative;
    margin-bottom: 0;
}

.form-news .articles-box .article-box p {
    height: 0.5rem;
}
.form-news .articles-box .article-box p.text{
    width: 65%;
}
.form-news .articles-box .article-box p.date {
    font-weight: bold;
    width: 15%;
}

.form-news .articles-box .article-box .button-box {
    display: flex;
    width: 20%;
}
.form-news .articles-box .article-box .button-box button{
    margin: 0 5px;
}
/**
schedule
****/
.size h2{
    margin-top: 20px;
    font-size: 18px;
}
.size .checkbox{
    display: flex;
    flex-wrap: wrap;
}
.size .checkbox .form-checkbox{
    margin-right: 30px;
}
.form-schedule .schedules-box{
    margin-bottom: 200px;
}
.form-schedule .schedules-box .schedule-box {
    margin-bottom: 20px;
}

.form-schedule .schedules-box .schedule-box .schedule-day-box{
    border-bottom: 1px solid #ddd;
}

.form-schedule .schedules-box .schedule-box .schedule-day {
    background-color: #000000;
    width: 100px;
    text-align: center;
}

.form-schedule .schedules-box .schedule-box .schedule-day p {
    color: #ffffff;
    margin-bottom: 0;
}

.form-schedule .schedules-box .schedule-box .schedule-text {
    border-bottom: 1px solid #ddd;
    display: flex;
}

.form-schedule .schedules-box .schedule-box .schedule-text-box{
    width: 30%;
}

.form-schedule .schedules-box .schedule-box .schedule-text .schedule-text-box h3 {
    margin-top: 20px;
    font-size: 20px;
}

.form-schedule .schedules-box .schedule-box .schedule-text .schedule-text-box p.start-day {
    font-size: 14px;
}

.form-schedule .schedules-box .schedule-box .schedule-text .profile-icon-box {
    display: flex;
    margin-left: 30px;
    width: 50%;
    flex-wrap: wrap;
}

.form-schedule .schedules-box .schedule-box .schedule-text .profile-icon-box .profile-icon {
    width: 50px;
    margin: 20px 10px;
}

.form-schedule .schedules-box .schedule-box .schedule-text .profile-icon-box .profile-icon img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.form-schedule .schedules-box .schedule-box .schedule-text .button-box {
    display: flex;
    width: 20%;
}
.form-schedule .schedules-box .schedule-box .schedule-text .button-box button{
    margin: 30px 5px;
}
/**
profile
****/
.members-profile ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.members-profile .member-profile {
    display: flex;
    margin: 20px 0;
    width: 50%;
}

@media screen and (max-width: 650px) {
    .members-profile ul {
        display:block;
    }

    .members-profile .member-profile {
        width: 100%;
    }
}

.members-profile .member-profile .member-profile-box {
    border: 1px solid #ddd;
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px;
}

.members-profile .member-profile .member-photo img {
   height:100%
}

.members-profile .member-profile .member-text {
    margin: 20px 20px;
}

.members-profile .member-profile .member-text p {
    font-size: 15px;
}

.members-profile .member-profile .member-text button {
    border: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 10px;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}


/**
profile_user
****/
.profile-task .task-box{
    margin-bottom: 50px;
}
.profile-task .task-box .favorite {
    display: flex;
    margin-bottom: 5px;
}
.profile-task .task-box .favorite .favorite-q-box{width: 30%;max-width: 200px;}
.profile-task .task-box .favorite .favorite-q-box .favorite-q{
    margin-right: 20px;
    background-color: #000000;
    color: #ffffff;
    padding: 0 10px;
    height: 100%;
    line-height: 1.8;
}
.profile-task .task-box .favorite .favorite-a-box{
    width: 60%;
    max-width: 500px;
}

.profile-task .task-box .favorite .button-green{}